/* Code run button styling */
.glow-run-on-hover {
  width: 150px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.glow-run-on-hover:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.glow-run-on-hover:active {
  color: #000;
}

.glow-run-on-hover:active:after {
  background: transparent;
}

.glow-run-on-hover:hover:before {
  opacity: 1;
}

.glow-run-on-hover:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #1e1e1e;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

/* Feedback container component styling */
.feedback-container {
  line-height: 1.5;
  margin: 20px;
}

.feedback-container h2 {
  font-size: 1.5em;
  margin-top: 20px;
  color: white;
  font-weight: 600;
}

.feedback-container p {
  margin: 10px 0;
}

.feedback-container li {
  margin-left: 20px;
  list-style-type: disc;
}

.feedback-container code {
  padding: 2px 4px;
  border-radius: 4px;
  font-family: "Courier New", Courier, monospace;
}

.feedback-container pre {
  padding: 10px;
  border-radius: 5px;
  font-family: "Courier New", Courier, monospace;
  white-space: pre-wrap;
  overflow-x: auto;
}

.feedback-container strong {
  display: block;
  margin-top: 20px;
}
